/*左上角标题背景*/
.index-title-bg{
    background-image: url('index/title-bg.jpg');
}
/*左上角标题*/
.index-title{
    background-image: url('index/title.png');
}
/**首页图片*/
.index-home{
    background-image: url('index/index.png');
    width: 36px;
    height: 36px;
    float:left;
    margin-right: 10px;
}

/*修改密码图片*/
.index-password{
    background-image: url('index/password.png');
    width: 36px;
    height: 36px;
    float:left;
    margin-right: 10px;
}

/*管理与帮助图片*/
.index-manager{
    background-image: url('index/manager.png');
    width: 36px;
    height: 36px;
    float:left;
    margin-right: 10px;
}

/*注销图片*/
.index-exit{
    background-image: url('index/exit.png');
    width: 36px;
    height: 36px;
    float:left;
    margin-right: 10px;
}

/*上面部分的总体背景颜色*/
.index-top-bg-color{
    background-color: #1d2d43;
}
/*菜单栏背景颜色*/
.index-menu-bg-color{
    background-color: #224263;
}

/*底部的总体背景颜色*/
.index-bottom-bg-color{
    background-color:#1d2d44;
}

.main-user-bg{
    background-image: url('index/user_bg.jpg');
}

.main-draftBox-bg{
    background-image: url('index/draftBox.jpg');
}

.main-document-bg{
    background-image: url('index/document.jpg')
}

.main-message-bg{
    background-image: url('index/message.jpg');
}

.main-calendar-bg{
    background-image: url('index/calendar.jpg');
}

.main-noteList-bg{
    background-image: url('index/noteList.jpg');
}

.main-relayApply-bg{
    background-image: url('index/relayApply.jpg');
}

.main-printApprove-bg{
    background-image: url('index/printApprove.jpg');
}